# 构建产物
*.exe
*.o
*.a
*.dll

# 运行时目录（草稿/自动保存/历史）
mdlite/mdlite/

# 截图
screenshot_*.png
edit.png
preview.png
split.png

# base64 编码
*.b64.js

# IDE
.vscode/
.idea/
*.swp
*.swo

# 系统文件
.DS_Store
Thumbs.db
mdlite/.mdlite/
mdlite/*.html
testnotes/
*.exe
!MDLite.exe
bl_debug.log
Ps1file
*.ps1
